.chat-header {
	position: absolute;
	overflow: hidden;
	height: 64px;
	box-shadow: 0px 6px 20px 4px #929292;
}
.chat-header div {
	height: 48px;
}

.chat-content-box {
	position: absolute;
	overflow: auto;
	top: 64px;
	bottom: 64px;
}

.chat-footer {
	position: absolute;
	bottom: 0px;
	height: 64px;
	width: 100%;
    overflow: hidden;
    box-shadow: 0px -6px 20px 4px #929292;
}

.chat-footer-input {
	width: 90%;
	height: 36px;
	margin-left: 10px;
	margin-top: 5px;
}
.chat-footer-button {
	height: 36px;
}

